---
import Layout from '../layouts/Layout.astro';
import Badge from "../Components/Badge.astro";
import Linkedin from "../Components/icons/Linkedin.astro";
import Github from "../Components/icons/Github.astro";
import Gmail from "../Components/icons/Gmail.astro";
import SocialPill from "../Components/SocialPill.astro";
import SectionContainer from "../Components/SectionContainer.astro";
import BriefCase from "../Components/icons/BriefCase.astro";
import Projects from "../Components/Projects.astro";
---

<Layout 
  title="Porfolio de David Hern치ndez - Desarrollador y Programador con 1 a침o de experiencia"
  description="Contrata a David para crear tu apliacaci칩n web"
>
	<main class="px-4">
		<SectionContainer id="inicio" class="py-28 md:py-36">
			<div class="flex gap-x-4 justify-start items-center mb-6">
				<img class="rounded-full w-20 h-20 md:w-16 md:h-16" src="https://avatars.githubusercontent.com/u/108157760?u=48f6e24d3de45b5ffff4fac7e0fa829d4a59756b&v=4" alt="david photo">
				<h1 class="text-white text-4xl md:text-3xl font-bold flex flex-row gap-x-8  "><a href="https://www.linkedin.com/in/david-antonio-hern%C3%A1ndez-brito-213a951b8/" target="_blank"
					rel="noopener"
					class="flex justify-center items-center">Hey, soy David Hern치ndez 游녦</a> 
				</h1>
			</div>
			
			<h2 class="md:text-l md:text-balance opacity-80">
				<span>1 a침o de experiencia</span> <span class="text-yellow-200/90">como desarrollador de software independiente.</span> 
				<span class="text-red-100/90"> De Chilpancingo, M칠xico.</span class="opacity-80"> Especializado en el desarrollo web.
			</h2>
			<nav class="flex flex-col gap-4 mt-4 flex-wrap md:flex-row">
				<SocialPill href="https://www.linkedin.com/in/david-antonio-hern%C3%A1ndez-brito-213a951b8/">
					<Linkedin></Linkedin>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/DahbOne1">
					<Github></Github>
					Github
				</SocialPill>
				<SocialPill href="mailto:david.arcos1000@gmail.com">
					<Gmail></Gmail>
					David.arcos1000@gmail.com
				</SocialPill>
				
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-4 items-center"> <BriefCase></BriefCase>  Proyectos</h2>
			<Projects>

			</Projects>
		</SectionContainer>
		
	</main>
</Layout>

