---
import Layout from '../layouts/Layout.astro';
import Badge from "../Components/Badge.astro";
import Linkedin from "../Components/icons/Linkedin.astro";
import Github from "../Components/icons/Github.astro";
import Gmail from "../Components/icons/Gmail.astro";
import SocialPill from "../Components/SocialPill.astro";
import SectionContainer from "../Components/SectionContainer.astro";
import BriefCase from "../Components/icons/BriefCase.astro";
import Projects from "../Components/Projects.astro";
import Profile from "../Components/icons/Profile.astro";
import AboutMe from "../Components/AboutMe.astro";
import Tool from "../Components/icons/Tool.astro";
import Form from "../Components/icons/Form.astro";
import Technologies from "../Components/Technologies.astro";
---

<Layout 
  title="Porfolio de trabajo de David Hern치ndez - Desarrollador y Programador con 1 a침o de experiencia como desarrollador de software independiente."
  description="Contrata a David para crear tu sitio web con tecnologias como HTML, CSS, JavaScript">
	<main class="m-4">
		<SectionContainer id="inicio" class="py-28 mt-10">
			<div class="flex-col gap-10 lg:flex lg:flex-row">
				<img class="aspect-video h-50 object-cover rounded-md lg:w-80" src="img/ImgHero.webp" alt="Foto de David Hern치ndez">
				<div class="mt-10">
					<h1 class="text-white text-3xl font-bold flex flex-row gap-x-8"><a href="https://www.linkedin.com/in/david-antonio-hern%C3%A1ndez-brito-213a951b8/" target="_blank"
						rel="noopener" class="flex justify-center items-center">Hey, soy David Hern치ndez 游녦</a> 
					</h1>	
					<h2 class="md:text-l md:text-balance opacity-80">
						<span>1 a침o de experiencia</span> <span class="text-blue-100/90">como desarrollador de software independiente.</span> 
						<span class="text-blue-100/80"> De Chilpancingo, M칠xico.</span class="opacity-80"> Especializado en el desarrollo web.
					</h2>
					<nav class="flex gap-4 mt-4 flex-wrap justify-start items-center md:flex-row">
						<SocialPill href="https://www.linkedin.com/in/david-antonio-hern%C3%A1ndez-brito-213a951b8/">
							<Linkedin></Linkedin>
							LinkedIn
						</SocialPill>
						<SocialPill href="https://github.com/DahbOne1">
							<Github></Github>
							Github
						</SocialPill>
						<SocialPill href="mailto:david.arcos1000@gmail.com">
							<Gmail></Gmail>
							David.arcos1000@gmail.com
						</SocialPill>
						<Badge>Ver Curriculum Vitae</Badge>
					</nav>
				</div>
			</div>

		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-4 items-center justify-start sm:justify-center sm:text-3xl"> <BriefCase></BriefCase>  Proyectos</h2>
			<Projects>
			</Projects>
			
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-4 items-center justify-start sm:justify-center sm:text-3xl"> <Profile></Profile>  Sobre mi</h2>
			<AboutMe>
			</AboutMe>
		</SectionContainer>

		<SectionContainer id="tecnologias" class="mt-20">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-4 items-center justify-start sm:justify-center sm:text-3xl"><Tool></Tool> Experiencia en Tecnolog칤as</h2>
			<Technologies></Technologies>
		</SectionContainer>
	</main>
	
</Layout>

