<section class="flex flex-col gap-4 justify-center items-top lg:flex-row">
    <img class="w-full h-96 rounded-md object-cover lg:size-80" src="img/AboutMe.webp" alt="AboutMe image">
    <div class="[&>p]:mb-2 [&>p>strong]:text-blue-200/90 [&>p>strong]:font-semibold text-pretty text-sm text-white/80">
        <p>
            Hola, mi nombre completo es David Antonio Hernández Brito, tengo 23 años y soy originario de Guerrero, México.
            Mi primer Hola mundo fue con Phyton a los 16 años en un curso de programación. Ahora soy un recién egresado del Tecnológico Nacional de México campus Chilpancingo en la carrera de Ingeniería en Sistemas Computacionales.
        </p>
        
        <p>
            Como estudiante busqué aprovechar cada oportunidad que me brindó mi universidad, participando en <strong>2 veranos de investigación interculturales</strong> en el <a href="" target="_blank">Programa Delfín.</a>
            Con dos proyectos que fueron retos importantes para mí, al desconocer en profundidad el manejo de las tecnologías que se utilizaron, y que afortunadamente me hicieron crecer a nivel profesional y personal.
            También tuve la oportunidad de dejar algo a mi institución al ser co-creador del <strong>logo del 39 aniversario de la misma.</strong> 
        </p>
        
        <p>
            Mi proyecto de prácticas profesionales en la <strong>Comisión Federal de Electricidad Zona Chilpancingo</strong> me permitió vivir la experiencia del mundo laboral de cerca. 
            Al tener la responsabilidad de <em class="italic">desarrollar un producto de software funcional y atractivo, </em> sin duda mi mayor reto profesional que he tenido hasta el momento.
        </p>
        
        <p>
            Muchas gracias por darte el tiempo de leerme, ten un buen día.
        </p>
    </div>
    
</section>